@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

@font-face {
  font-family: 'CustomFont';
  src: url('/public/Switzer-Bold.otf') format('truetype');
  /* Other font formats (woff, woff2, etc.) could also be added here */
}

@font-face {
  font-family: 'CustomFont1';
  src: url('/public/Switzer-Medium.otf') format('truetype');
  /* Other font formats (woff, woff2, etc.) could also be added here */
}

@font-face {
  font-family: 'CustomFont2';
  src: url('/public/Switzer-Regular.otf') format('truetype');
  /* Other font formats (woff, woff2, etc.) could also be added here */
}
